<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğrenci Paneli</title>
    <link rel="stylesheet" href="/css/dashboardOgr.css">
</head>
<body>


    <div class="sidebar">
        <div class="logo">OBS ÖĞRENCİ</div>
        <ul class="menu-list">
            <li class="menu-item" id="transkript"><a href="#"><span class="icon"></span> Transkript</a></li>
            <li class="menu-item" id="ogrenci-belgesi"><a href="#"><span class="icon"></span> Öğrenci Belgesi</a></li>
            <li class="menu-item" id="not-paylasim"><a href="#"><span class="icon"></span> Not Paylaşım Sistemi</a></li>
            <li class="menu-item" id="mesajlasma"><a href="#"><span class="icon"></span> Mesajlaşma</a></li>
            <li class="menu-item" id="puanlarim"><a href="#"><span class="icon"></span> Puanlarım</a></li>
            <li class="menu-item" id="oduller"><a href="#"><span class="icon"></span> Ödüller</a></li>
        </ul>
    </div>
            <h2> <% kullanici.soyad %></h2>
  <div id="content">
        <div id="topbar">
            <div id="profile-box">
                    <div id="profile-texts">
                    <p id="ad"><%= kullanici.ad %></p>
                    <p id="soyad"><%= ogrenci.soyad %></p>
                    <p id="program"><%= detay.program %></p>
                </div>

                <div id="profile-menu" style="display: none;"> 
                    <button onclick="openProfileSettings()">Profil Ayarları</button>
                    <button onclick="logout()">Çıkış</button>
                </div>
            </div>
            
            
       </div> 
      <!---
        <div id="main-area">
            <h1>Hoşgeldiniz,!</h1>
            <p>Sol taraftaki menüden işlem yapabilirsiniz.</p>
        </div>
    </div>
-->
    <script src="/js/dashboardOgr.js"></script>
</body>
</html>
<!-- app.get("/dashboard", (req, res) => {
    // dashboard.ejs dosyasını render et ve verileri gönder
    res.render("dashboard", {
        id: "2024103014",
        ad: "İrem",
        soyad: "YILMAZ",
        program: "Mimarlık ve Mühendislik Fakültesi Bilgisayar Mühendisliği",
        profilePic: null // Resim yoksa null gönderiyoruz, EJS varsayılanı koyuyor
    });
}); -->